@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  position: fixed;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
  color: rgb(252, 172, 13);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.background {
  background: url("https://images.unsplash.com/photo-1558981001-5864b3250a69?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80")
    no-repeat center center/cover;
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100vw + 10px);
  height: calc(100vh + 10px);
  z-index: -1;
}

.container {
  background-color:cornsilk;
  padding: 20px 40px;
  border-radius: 5px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: mediumseagreen;
  color:coral
}

.btn {
  background: olivedrab;
  display: inline-block;
  cursor: pointer;
  padding: 12px;
  font-family: inherit;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
  width: 100%;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(1);
}

.text {
  margin-top: 30px;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  color: thistle;
  border-bottom: 2px rgb(151, 14, 14) solid;
  display: block;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: blanchedalmond;
}

.form-control label {
  position: absolute;
  pointer-events: none;
  top: 15px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  min-width: 5px;
  font-size: 15px;
  transition: cubic-bezier(0.075, -0.82, 0.165, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: burlywood;
  transform: translateY(-32px);
}
